@import url("https://fonts.googleapis.com/css?family=Roboto");
* {
  margin: 0;
  padding: 0; }

body {
  font-family: 'Roboto', sans-serif;
  font-weight: normal; }

@media (max-width: 767px) {
  .nav-item {
    width: 50%; } }

.top-sec {
  padding: 5px 0;
  position: absolute;
  left: 0;
  right: 0;
  background: #e53935;
  z-index: 999; }
  @media (max-width: 767px) {
    .top-sec {
      position: relative; } }

.logo a {
  text-decoration: none;
  -webkit-transition: all 1s ease;
  transition: all 1s ease; }
  .logo a:hover {
    text-decoration: none; }

.logo img {
  width: 165px;
  float: left;
  margin-right: 15px; }

.logo h1 {
  padding: 10px 0;
  margin: 0;
  font-size: 35px;
  font-weight: 900;
  color: #ffffff;
  text-transform: uppercase; }
  @media (max-width: 767px) {
    .logo h1 {
      text-align: center !important;
      padding-bottom: 10px !important;
      margin: 0px; } }

.res-bar {
  display: none; }
  @media (max-width: 767px) {
    .res-bar {
      display: inline-block;
      float: right;
      cursor: pointer;
      color: #fff;
      font-size: 30px;
      padding: 5px 10px; } }

.top-nav {
  float: right; }
  @media (max-width: 767px) {
    .top-nav {
      display: none;
      padding-top: 10px;
      padding-bottom: 10px; } }
  .top-nav ul {
    margin: 0;
    padding: 0; }
    @media (max-width: 767px) {
      .top-nav ul {
        text-align: center; } }
  .top-nav li {
    list-style: none;
    padding: 0;
    margin: 0;
    float: left; }
    @media (max-width: 767px) {
      .top-nav li {
        text-align: center !important;
        float: none !important;
        display: inline; } }
  .top-nav .dropdown ul {
    display: none; }
    .top-nav .dropdown ul li {
      list-style: none;
      display: block;
      width: 150px; }
      @media (max-width: 767px) {
        .top-nav .dropdown ul li {
          width: 100%; } }
      .top-nav .dropdown ul li a {
        display: block;
        padding: 10px;
        background: #e53935;
        border-bottom: 1px solid #d00500;
        text-align: right; }
        @media (max-width: 767px) {
          .top-nav .dropdown ul li a {
            width: 100%;
            background: #862624;
            text-align: center; } }
      .top-nav .dropdown ul li:last-child a {
        border-bottom: 0px; }
  .top-nav .dropdown:hover ul {
    display: block;
    position: absolute;
    right: 0;
    z-index: 99; }
    @media (max-width: 767px) {
      .top-nav .dropdown:hover ul {
        position: relative;
        text-align: center; } }
  .top-nav a {
    text-decoration: none;
    display: inline-block;
    padding: 20px 10px;
    text-align: center;
    color: #ffffff;
    font-weight: 600;
    font-size: 12px;
    text-transform: uppercase; }
    .top-nav a:hover {
      text-decoration: none;
      color: #cccccc; }
    @media (max-width: 767px) {
      .top-nav a {
        padding: 10px;
        width: 100%;
        background: rgba(178, 47, 43, 0.5);
        border-bottom: 1px solid #e53935; } }

header .sub-header {
  background: url("../images/banner.jpg") no-repeat center;
  -webkit-background-size: cover;
  background-size: cover;
  padding: 100px 0px 30px 0px; }
  header .sub-header h2 {
    color: #ffffff;
    text-shadow: 1px 1px 2px #000000;
    text-transform: uppercase; }

span.or-sec p {
  border: 1px solid;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  text-align: center;
  margin-left: 50px; }

.or-sec {
  margin: 125px 0;
  display: block; }

.login-page {
  padding: 150px 0; }

.blog-list {
  background: #f6f6f6;
  padding: 10px;
  margin-bottom: 15px; }
  .blog-list img {
    width: 100%; }
  .blog-list h3, .blog-list p {
    margin: 0px;
    padding: 0px; }

.blog-right {
  background: #f6f6f6;
  padding: 10px;
  margin-bottom: 15px; }
  .blog-right img {
    width: 100%; }
  .blog-right .recent-blog {
    border-bottom: 1px solid #dfdfdf;
    margin-bottom: 10px; }
    .blog-right .recent-blog:last-child {
      border-bottom: 0px solid #dfdfdf;
      margin-bottom: 0px; }
    .blog-right .recent-blog img {
      float: left;
      width: 70px;
      margin-right: 10px; }
    .blog-right .recent-blog h5 {
      margin: 0px;
      padding: 0px; }
    .blog-right .recent-blog a {
      color: #333333; }

.blog-details img {
  width: 100%; }

.slider .carousel-caption h2 {
  background: rgba(0, 0, 0, 0.4);
  padding: 5px 15px;
  display: inline-block;
  font-size: 42px;
  text-transform: uppercase;
  font-weight: 100; }

.slider .carousel-caption p {
  padding: 5px 15px;
  display: block;
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 100; }

@media (max-width: 767px) {
  #myTabContent {
    border: 1px solid #ff6e6e;
    padding: 15px;
    border-top: 0; } }

.tab-search {
  position: absolute;
  top: -40px; }
  @media (max-width: 767px) {
    .tab-search {
      position: relative;
      top: 0; } }
  .tab-search .nav-tabs {
    border-bottom: 0px solid #ddd; }
  .tab-search a.nav-link.active {
    background: #e53935 !important;
    border: 0px !important;
    color: #fff; }
    @media (max-width: 767px) {
      .tab-search a.nav-link.active {
        border: 1px solid #ff6e6e !important;
        border-bottom: 0px !important; } }
  .tab-search a.nav-link {
    background: rgba(229, 56, 53, 0.5) !important;
    border: 0px !important;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    width: 100px;
    text-align: center;
    color: #fff;
    text-transform: uppercase; }
    @media (max-width: 767px) {
      .tab-search a.nav-link {
        background: #ff6e6e !important;
        width: 100%;
        border: 1px solid #ff6e6e !important;
        color: #fff; } }

.search-sec {
  position: relative;
  text-align: center;
  top: 50%; }
  @media (max-width: 767px) {
    .search-sec {
      top: 220px; } }
  .search-sec h2 {
    color: #ffffff;
    font-size: 46px; }
  .search-sec p {
    color: #ffffff; }
  .search-sec a.search-b {
    text-decoration: none; }
  .search-sec .search-i {
    border: 1px solid #e53935;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background: rgba(255, 255, 255, 0.25); }
    .search-sec .search-i:focus {
      border: 1px solid #e53935; }
  .search-sec .search-b {
    background: #e53935;
    color: #ffffff;
    font-size: 20px;
    font-weight: 100;
    -webkit-border-radius: 0;
    border-radius: 0;
    padding: 10px 30px; }
    @media (max-width: 767px) {
      .search-sec .search-b span {
        display: none; } }

.v-types {
  font-size: 18px;
  margin: 0;
  padding: 0; }

.v-exp {
  font-size: 16px;
  margin: 0; }

.v-address {
  font-size: 14px;
  padding-bottom: 0 !important; }

.v-user {
  background: #e53935;
  padding: 30px 0;
  color: #f0f0f0;
  position: relative; }
  .v-user h3 {
    font-weight: bold; }
  .v-user .btn {
    float: right;
    margin-top: 15px;
    -webkit-border-radius: 0;
    border-radius: 0;
    color: #ffffff;
    font-weight: bold;
    text-shadow: 1px 1px 0px #999999; }
  .v-user .form-control {
    height: 42px !important; }
  .v-user .home-continue {
    margin-top: 32px !important;
    height: 41px !important; }

.top-sec-sub {
  background: #e53935; }

.filters {
  background: #f6f6f6;
  -webkit-box-shadow: .5px .5px 1px #dddddd;
  box-shadow: .5px .5px 1px #dddddd;
  padding: 15px;
  margin-bottom: 35px; }
  .filters h2 {
    font-size: 26px;
    text-transform: uppercase;
    font-weight: bold; }
  .filters h3 {
    font-size: 20px;
    text-transform: uppercase; }
  .filters ul {
    margin: 0px;
    padding: 0px; }
    .filters ul li {
      list-style: none;
      padding: 0px;
      margin: 0px;
      margin-bottom: 5px; }
    .filters ul a {
      text-decoration: none;
      color: #222222;
      display: block;
      padding: 5px 15px;
      background: #fff; }
      .filters ul a:hover {
        background: #dddddd; }
  .filters .form-control {
    width: 100%;
    -webkit-border-radius: 0px;
    border-radius: 0px; }
  .filters .filter {
    margin-bottom: 15px; }
  .filters .member-filter {
    margin-bottom: 15px; }
  .filters input#myRange {
    width: 100%; }
  .filters input[type="checkbox"] {
    display: none; }
    .filters input[type="checkbox"] + label {
      display: inline;
      position: relative; }
      .filters input[type="checkbox"] + label:before {
        display: inline-block;
        width: 21px;
        height: 21px;
        content: ' ';
        border: 2px solid #e3ddd8;
        vertical-align: middle;
        margin-right: 15px;
        cursor: pointer;
        z-index: 10; }
    .filters input[type="checkbox"]:checked + label:before {
      border: 1px solid #333333; }
    .filters input[type="checkbox"]:checked + label:after {
      width: 7px;
      height: 13px;
      border: 2px solid #333333;
      border-left: none;
      border-top: none;
      content: ' ';
      position: absolute;
      left: 7px;
      bottom: 1px;
      -webkit-transform: rotatez(45deg);
      -ms-transform: rotate(45deg);
      transform: rotatez(45deg);
      cursor: pointer;
      z-index: 20; }

.search-again {
  background: #f6f6f6;
  -webkit-box-shadow: .5px .5px 1px #dddddd;
  box-shadow: .5px .5px 1px #dddddd;
  margin: 25px 0;
  padding: 15px 0; }
  .search-again h3 {
    padding: 0 15px;
    font-size: 26px; }
  .search-again .form-inline .btn {
    -webkit-border-radius: 0px;
    border-radius: 0px;
    text-transform: uppercase;
    font-weight: bold; }
  .search-again .form-control {
    width: 100% !important; }

.venue-list .venues {
  background: #f6f6f6;
  -webkit-box-shadow: .5px .5px 1px #dddddd;
  box-shadow: .5px .5px 1px #dddddd;
  padding: 15px;
  margin-bottom: 15px; }
  .venue-list .venues .fa {
    color: #777777; }
  .venue-list .venues img {
    width: 100%; }
  .venue-list .venues h3 {
    margin: 0;
    padding: 5px 0;
    font-weight: bold;
    font-size: 20px; }
  .venue-list .venues p {
    margin: 0;
    padding: 4px 0; }
  .venue-list .venues h4 {
    font-size: 12px;
    font-weight: bold; }
  .venue-list .venues .btn {
    -webkit-border-radius: 0;
    border-radius: 0; }
  .venue-list .venues .fecilitys {
    border-top: 1px solid #eeeeee;
    padding-top: 5px;
    margin-top: 10px; }
    .venue-list .venues .fecilitys ul {
      margin: 0;
      padding: 0; }
    .venue-list .venues .fecilitys li {
      list-style: none;
      float: left;
      margin-right: 15px;
      padding: 0px;
      font-size: 13px; }

.venue-details {
  margin: 15px 0; }
  .venue-details .nav {
    background: #f6f6f6;
    border: 1px solid #dfdfdf; }
    .venue-details .nav .nav-link {
      padding: 10px 10px;
      border-right: 1px solid #eeeeee;
      color: #333333; }
      .venue-details .nav .nav-link:hover {
        color: #000000;
        font-weight: bold; }
    .venue-details .nav .active {
      color: #000000;
      font-weight: bold; }
  .venue-details img {
    width: 100%; }
  .venue-details h2 {
    margin: 0px;
    padding: 5px 0;
    font-weight: bold; }
  .venue-details h5 {
    margin: 0px;
    padding: 3px 0;
    font-size: 16px;
    font-weight: bold; }
  .venue-details p {
    margin: 0px;
    padding: 5px; }
  .venue-details .breadcrumb {
    -webkit-border-radius: 0px;
    border-radius: 0px; }
  .venue-details .search-again-details {
    background: #f6f6f6;
    -webkit-box-shadow: .5px .5px 1px #dddddd;
    box-shadow: .5px .5px 1px #dddddd;
    padding: 15px;
    margin-bottom: 15px; }
    .venue-details .search-again-details .form-control {
      -webkit-border-radius: 0px;
      border-radius: 0px; }
  .venue-details .contact-details {
    background: #f6f6f6;
    -webkit-box-shadow: .5px .5px 1px #dddddd;
    box-shadow: .5px .5px 1px #dddddd;
    padding: 15px;
    margin-bottom: 15px; }
  .venue-details .card {
    margin-bottom: 15px; }
    .venue-details .card .card-header {
      font-size: 18px;
      font-weight: bold; }
  .venue-details .photos {
    margin-bottom: 15px; }
    .venue-details .photos #myCarousel .list-inline {
      white-space: nowrap;
      overflow-x: auto; }
    .venue-details .photos #myCarousel .carousel-indicators {
      position: static;
      left: initial;
      width: initial;
      margin-left: initial; }
    .venue-details .photos #myCarousel .carousel-indicators > li {
      width: initial;
      height: initial;
      text-indent: initial;
      overflow: hidden; }
    .venue-details .photos #myCarousel .carousel-indicators > li.active img {
      opacity: 0.7; }
    .venue-details .photos .slider-controler {
      background: rgba(0, 0, 0, 0.25);
      position: absolute;
      bottom: 0px;
      font-size: 36px; }
      .venue-details .photos .slider-controler a {
        color: #ffffff;
        padding: 5px; }
  .venue-details ul {
    margin: 0;
    padding: 0; }
  .venue-details li {
    list-style: none;
    float: left;
    margin-right: 15px;
    padding: 0px;
    font-size: 13px;
    width: 23.7%;
    background: #f6f6f6;
    margin: 5px; }
    .venue-details li .fa {
      background: #e53935;
      width: 25px;
      text-align: center;
      padding: 6px;
      color: #ffffff;
      margin-right: 5px; }

.card {
  -webkit-border-radius: 0px !important;
  border-radius: 0px !important; }
  .card img {
    -webkit-border-radius: 0px;
    border-radius: 0px; }
  .card .btn {
    -webkit-border-radius: 0px;
    border-radius: 0px; }

.btn {
  -webkit-border-radius: 0px !important;
  border-radius: 0px !important; }

.form-control {
  width: 100%;
  -webkit-border-radius: 0px !important;
  border-radius: 0px !important; }

#calendar {
  max-width: 900px;
  margin: 0 auto; }

.nearby {
  background: #f6f6f6;
  -webkit-box-shadow: .5px .5px 1px #dddddd;
  box-shadow: .5px .5px 1px #dddddd;
  padding: 15px;
  margin-top: 15px; }
  .nearby ul {
    list-style: none;
    margin: 0px;
    padding: 0px; }
  .nearby li {
    padding: 0;
    margin: 0;
    float: none;
    width: 100%; }
  .nearby a {
    display: block;
    padding: 5px;
    text-decoration: none;
    margin: 5px 0;
    color: #333;
    font-size: 14px; }
    .nearby a:hover {
      text-decoration: none;
      color: #000000;
      font-weight: bold; }
    .nearby a .fa {
      background: none;
      color: #333333;
      padding: 2px;
      margin: 0; }

.contact-us {
  margin: 25px 0; }

.sign-in {
  width: 350px;
  padding: 20px;
  background: #eeeeee;
  color: #ffffff;
  -webkit-box-shadow: 1px 1px 1px #cccccc;
  box-shadow: 1px 1px 1px #cccccc;
  margin: 50px;
  background: #ff6e6e;
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #ff6e6e), color-stop(100%, #e53935));
  background: -webkit-linear-gradient(top, #ff6e6e 0%, #e53935 100%);
  background: -webkit-gradient(linear, left top, left bottom, from(#ff6e6e), to(#e53935));
  background: linear-gradient(to bottom, #ff6e6e 0%, #e53935 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff6e6e', endColorstr='#e53935', GradientType=0 ); }

.log-up {
  padding: 20px;
  margin: 50px 0; }

.venue-panel {
  background: #e53935;
  padding: 50px 0; }
  .venue-panel .user-sec {
    text-align: center;
    color: #dddddd; }
    .venue-panel .user-sec h3 {
      font-size: 22px;
      font-weight: bold; }
    .venue-panel .user-sec h4 {
      font-size: 20px; }
    .venue-panel .user-sec .avater img {
      -webkit-border-radius: 4px;
      border-radius: 4px;
      border: 1px solid #ff4c47; }
    .venue-panel .user-sec ul {
      margin: 0px;
      padding: 0px;
      border: #ff4c47 1px solid; }
    .venue-panel .user-sec li {
      margin: 0px;
      padding: 0;
      list-style: none;
      border-bottom: 1px solid #ff4c47; }
      .venue-panel .user-sec li:last-child {
        border-bottom: 0px; }
      .venue-panel .user-sec li a {
        padding: 6px 10px;
        -webkit-transition: all ease .3s;
        transition: all ease .3s; }
        .venue-panel .user-sec li a:hover {
          background: #ff4c47;
          -webkit-transition: all ease .3s;
          transition: all ease .3s;
          padding: 6px 20px; }
    .venue-panel .user-sec a {
      display: block;
      text-decoration: none;
      color: #dddddd;
      text-transform: uppercase; }
  .venue-panel .user-body-sec {
    background: #ffffff;
    padding: 15px;
    min-height: -webkit-calc(100vh - 325px);
    min-height: calc(100vh - 325px); }
  .venue-panel .user-menu {
    text-align: left; }

.venue-photos img {
  width: 265px;
  float: left;
  margin: 5px; }

.seat img {
  width: 100%; }

.log-us {
  margin: 25px 0; }

.subpage-header {
  overflow: hidden;
  color: #ffffff; }

.sub-page {
  margin: 25px 0; }

.about-us ul {
  margin: 0;
  padding: 0; }

.about-us li {
  list-style: none; }

.divi {
  height: 1px;
  width: 300px;
  background: #e53935;
  display: inherit;
  margin: 0 auto;
  margin-bottom: 25px; }

.main-body .discover {
  padding: 70px 0;
  text-align: center; }
  .main-body .discover h2 {
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 5px; }
  .main-body .discover img {
    width: 120px;
    height: 120px;
    border: 1px solid #e53935;
    -webkit-border-radius: 100%;
    border-radius: 100%; }
  .main-body .discover h3 {
    font-weight: bold;
    padding: 10px 0;
    font-size: 24px; }

.options .opt {
  text-align: center;
  padding: 70px 0;
  background: url("../images/opt.jpg") no-repeat center fixed;
  -webkit-background-size: cover;
  background-size: cover; }
  .options .opt h2 {
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 5px;
    color: #ffffff; }
  .options .opt img {
    width: 100px;
    height: 100px;
    border: 1px solid #e53935;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    color: #ffffff; }
  .options .opt h3 {
    font-weight: bold;
    padding: 10px 0;
    font-size: 24px;
    color: #ffffff; }
  .options .opt p {
    color: #ffffff; }

.p-venue {
  padding: 70px 0; }
  .p-venue h2 {
    text-align: center;
    font-weight: bold; }
  .p-venue .venue {
    background: #f0f0f0;
    -webkit-box-shadow: 0px 2px 3px #cccccc;
    box-shadow: 0px 2px 3px #cccccc; }
    .p-venue .venue img {
      width: 100%; }
    .p-venue .venue .btn {
      -webkit-border-radius: 0;
      border-radius: 0;
      color: #ffffff; }
    .p-venue .venue .v-content {
      padding: 10px; }

.brand-slider {
  background: #f0f0f0;
  padding: 15px 0; }
  .brand-slider #carouselExampleControls {
    width: 100%; }
    .brand-slider #carouselExampleControls .carousel-item {
      padding: 15px; }
      .brand-slider #carouselExampleControls .carousel-item img {
        width: 100%; }

.login-form {
  padding: 15px;
  background: #cdcdcd;
  margin: 25px;
  -webkit-border-radius: 15px;
  border-radius: 15px; }

footer {
  background: #333333; }
  footer .footer-opt {
    padding: 45px 0; }
    footer .footer-opt h3 {
      padding: 15px 0;
      font-size: 20px;
      font-weight: 900;
      color: #dddddd; }
    footer .footer-opt ul {
      margin: 0;
      padding: 0; }
    footer .footer-opt li {
      list-style: none; }
    footer .footer-opt p {
      color: #cccccc;
      font-size: 14px; }
    footer .footer-opt a {
      color: #cccccc;
      text-decoration: none;
      font-size: 13px; }
      footer .footer-opt a:hover {
        color: #f0f0f0; }
  footer .copyright {
    background: #222222; }
    footer .copyright p {
      margin: 0;
      padding: 15px 0;
      font-size: 12px;
      text-transform: uppercase;
      color: #f0f0f0; }
      footer .copyright p a {
        color: #ffffff; }

.hall .photos {
  display: block;
  clear: both;
  margin-bottom: 15px; }
  .hall .photos .clear-fix {
    clear: both; }
  .hall .photos .item img {
    width: 180px;
    float: left;
    padding: 5px;
    padding-left: 0px; }

.hall .card {
  clear: both; }

.grid label {
  text-align: right;
  font-weight: bold;
  color: #666666; }

.grid .grid-item {
  margin-bottom: 15px; }
  .grid .grid-item a {
    display: block;
    background: #e53935;
    padding: 15px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    -webkit-box-shadow: 3px 3px 0px #ccc;
    box-shadow: 3px 3px 0px #ccc;
    -webkit-transition: all ease 0.5s;
    transition: all ease 0.5s; }
    .grid .grid-item a:hover {
      background: #d00500;
      -webkit-transition: all ease 0.5s;
      transition: all ease 0.5s;
      -webkit-box-shadow: 3px 3px 0px #999;
      box-shadow: 3px 3px 0px #999; }
      .grid .grid-item a:hover .fa {
        text-shadow: 1px 1px 1px #333333; }
    .grid .grid-item a:focus {
      -webkit-transition: all ease 0.5s;
      transition: all ease 0.5s;
      -webkit-box-shadow: 0px 0px 0px #ccc;
      box-shadow: 0px 0px 0px #ccc;
      background: #e53835; }
    .grid .grid-item a .fa {
      font-size: 40px;
      padding: 5px; }
    .grid .grid-item a h3 {
      font-size: 18px; }
    .grid .grid-item a .notice {
      position: absolute;
      padding: 5px 7px;
      top: -2px;
      right: 20px;
      background: #fff;
      color: #e53935;
      font-weight: bold;
      -webkit-box-shadow: 2px 2px 0px #ccc;
      box-shadow: 2px 2px 0px #ccc; }

.booking-manage h4 {
  font-size: 16px;
  padding: 6px 10px;
  border: 1px solid #ddd;
  color: #999999; }

.manage-nav ul {
  margin: 0px;
  padding: 0px; }
  .manage-nav ul li {
    margin: 0px;
    padding: 0px;
    list-style: none; }
    .manage-nav ul li a {
      display: block;
      padding: 5px 10px;
      color: #333;
      background: #eeeeee;
      margin-bottom: 5px;
      text-decoration: none; }
      .manage-nav ul li a:hover {
        background: #dddddd;
        color: #000; }
