@import url('https://fonts.googleapis.com/css?family=Roboto');

*{
    margin: 0;
    padding: 0;
}

body{
    // font-family: 'Abel', sans-serif !important;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
}

// mixin

$mobile-width: 767px;
$tablet-width: 768px;
$desktop-width: 1024px;

@mixin mobile {
    @media (max-width: #{$mobile-width}) {
      @content;
    }
  }

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

.top-sec{
    padding: 5px 0;
    position: absolute;
    left: 0;
    right: 0;
    background: #e53935;
    z-index: 999;
}
.logo{
    a{
        text-decoration: none;
        transition: all 1s ease;
        &:hover{
            text-decoration: none;
        }
    }
    img{
        width: 165px;
        float: left;
        margin-right: 15px;
    }
    h1{
        padding: 10px 0;
        margin: 0;
        font-size: 35px;
        font-weight: 900;
        color: #ffffff;
        text-transform: uppercase;
        &:hover{
        }
        @include mobile {
            text-align: center !important;
            padding-bottom: 10px !important;
            margin: 0px;
        }
    }
}
.top-nav{
    float: right;
    ul{
        margin: 0;
        padding: 0;
        @include mobile {
            position: absolute;
            right: 0;
            left: 0;
            text-align: center;
        }
    }
    li{
        list-style: none;
        padding: 0;
        margin: 0;
        float: left;
        @include mobile {
            text-align: center !important;
            float: none !important;
            display: inline;
        }
        
    }
    .dropdown{ 
        ul{
        display: none;
        li{
            list-style: none;
            display: block;
            width: 150px;
            a{
                display: block;
                padding: 10px;
                background: #e53935;
                border-bottom: 1px solid #d00500;
                text-align: right;
              }
            &:last-child{
                a{
                    border-bottom: 0px;
                }
            }
          }
          
      }
      &:hover ul{
        display: block;
        position: absolute;
        right: 0;
        z-index: 99;
        }
    }
    a{
        text-decoration: none;
        display: inline-block;
        padding: 20px 10px;
        text-align: center;
        color: #ffffff;
        font-weight: 900;
        font-size:12px; 
        text-transform: uppercase;
        &:hover{
            text-decoration: none;
            color: #cccccc;
           
        }
    }
}
header{
    .sub-header{
        background: url('../images/banner.jpg') no-repeat center;
        background-size: cover;
        padding: 100px 0px 30px 0px;
        h2{
            color: #ffffff;
            text-shadow: 1px 1px 2px #000000;
            text-transform: uppercase;
        }
    }
}
span.or-sec p {
    border: 1px solid;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    text-align: center;
    margin-left: 50px;
}
.or-sec {
    margin: 125px 0;
    display: block;
}
.login-page{
    padding: 150px 0; 
}
.blog-list{
    background: #f6f6f6;
    padding: 10px;
    margin-bottom: 15px;
    img{
        width: 100%;
    }
    h3, p{
        margin: 0px;
        padding: 0px;
    }
}
.blog-right{
    background: #f6f6f6;
    padding: 10px;
    margin-bottom: 15px;
    img{
        width: 100%;
    }
    .recent-blog{
        border-bottom: 1px solid #dfdfdf;
        margin-bottom: 10px;
        &:last-child{
            border-bottom: 0px solid #dfdfdf;
            margin-bottom: 0px;
        }
        img{
            float: left;
            width: 70px;
            margin-right: 10px;
        }
        h5{
            margin: 0px;
            padding: 0px;
        }
        a{
            color: #333333;
        }
    }
}
.blog-details{
    img{
        width: 100%;
    }
}
.slider{
    background: url('../images/banner.jpg') no-repeat center;
    background-size: cover;
    height: 50vh;

}
.search-sec{
    position: relative;
    text-align: center;
    top: 50%;
    @include mobile {
        top: 220px;
    }
    h2{
        color: #ffffff;
        font-size: 46px;
    }
    p{
         color: #ffffff
    }
    a.search-b{
        text-decoration: none;
    }
    .search-i{
        border: 1px solid #e53935;
        border-radius: 0px;
        background: rgba(255, 255, 255, 0.25);
        &:focus{
            border: 1px solid #e53935;
        }
    }
    .search-b{
        background: #e53935;
        color: #ffffff;
        font-size: 20px;
        font-weight: 100;
        border-radius: 0;
        padding: 10px 30px;
        span{
            @include mobile {
                display: none;
            }
        }
       
    }
}

.v-user{
    background: #e53935;
    padding: 30px 0;
    color: #f0f0f0;
    h3{
        font-weight: bold;
    }
    .btn{
        float: right;
        margin-top: 15px;
        border-radius: 0;
        color: #ffffff;
        font-weight: bold;
        text-shadow: 1px 1px 0px #999999;
    }
    .form-control{
        height: 42px !important;
    }
    .home-continue {
        margin-top: 32px !important;
        height: 41px !important;
    }
}
.top-sec-sub{
    background: #e53935;
}
.filters{
    background: #f6f6f6;
    box-shadow: .5px .5px 1px #dddddd;
    padding: 15px;
    margin-bottom: 35px;
    h2{
        font-size: 26px;
        text-transform: uppercase;
        font-weight: bold
    }
    h3{
        font-size: 20px;
        text-transform: uppercase;
    }
    ul{
        margin: 0px;
        padding: 0px;
        li{
            list-style: none;
            padding: 0px;
            margin: 0px;
            margin-bottom: 5px;
        }
        a{
            text-decoration: none;
            color: #222222;
            display: block;
            padding: 5px 15px;
            background: #fff;
            &:hover{
                background: #dddddd;
            }
        }
    }
    
    .form-control {
        width: 100%;
        border-radius: 0px;
    }
    .filter{
        margin-bottom: 15px;
    }

    .member-filter{
        margin-bottom: 15px;
    }
    input#myRange {
        width: 100%;
    }
  input[type="checkbox"] {
    display: none;
    
    + label {
      display: inline;
      position: relative;

      &:before {
        display: inline-block;
        width: 21px;
        height: 21px;
        content: ' ';
        border: 2px solid #e3ddd8;
        vertical-align: middle;
        margin-right: 15px;
        cursor: pointer;
        z-index: 10;
      }
    }
    
    &:checked + label {
      &:before {
        border: 1px solid #333333;
      }
      
      &:after {
        width: 7px;
        height: 13px;
        border: 2px solid #333333;
        border-left: none;
        border-top: none;
        content: ' ';
        position: absolute;
        left: 7px;
        bottom: 1px;
        transform: rotatez(45deg);
        cursor: pointer;
        z-index: 20;
      }
    }
  
}
    
}
.search-again{
    background: #f6f6f6;
    box-shadow: .5px .5px 1px #dddddd;
    margin: 25px 0;
    padding: 15px 0;
    h3{
        padding: 0 15px;
        font-size: 26px;
    }
    .form-inline {
        
        .btn{
            border-radius: 0px;
            text-transform: uppercase;
            font-weight: bold;
        }
    }
    .form-control{
        width: 100% !important;
    }
}
.venue-list{
    .venues{
        background: #f6f6f6;
        box-shadow: .5px .5px 1px #dddddd;
        padding: 15px;
        margin-bottom: 15px;
        .fa{
            color: #777777;
        }
        img{
            width: 100%;
        }
        h3{
            margin: 0;
            padding: 5px 0;
            font-weight: bold;
            font-size: 20px;
        }
        p{
            margin: 0;
            padding: 4px 0;
        }
        h4{
            font-size: 12px;
            font-weight: bold;
        }
        .btn{
            border-radius: 0;
        }
        .fecilitys{
            border-top: 1px solid #eeeeee;
            padding-top: 5px;
            margin-top: 10px;
            ul{
                margin: 0;
                padding: 0;
            }
            li{
                list-style: none;
                float: left;
                margin-right: 15px;
                padding: 0px;
                font-size: 13px;
                
            }
        }
    }
}
.venue-details{
    margin: 15px 0;
    .nav{
        background: #f6f6f6;
        border: 1px solid #dfdfdf;
        .nav-link{
            padding: 10px 10px;
            border-right: 1px solid #eeeeee;
            color: #333333;
            &:hover{
                color: #000000;
                font-weight: bold;
            }
        }
        .active{
            color: #000000;
            font-weight: bold;
        }
    }
    img{
        width: 100%;
    }
    h2{
        margin: 0px;
        padding: 5px 0;
        font-weight: bold;
    }
    h5{
        margin: 0px;
        padding: 3px 0;
        font-size: 16px;
        font-weight: bold;
    }
    p{
        margin: 0px;
        padding: 5px;
    }
    .breadcrumb{
        border-radius: 0px;
    }
    .search-again-details{
        background: #f6f6f6;
        box-shadow: .5px .5px 1px #dddddd;
        padding: 15px;
        margin-bottom: 15px;
        .form-control{
            border-radius: 0px;
        }
    }
    .contact-details{
        background: #f6f6f6;
        box-shadow: .5px .5px 1px #dddddd;
        padding: 15px;
        margin-bottom: 15px;
        
    }
    .card{
        margin-bottom: 15px;
        .card-header{
            font-size: 18px;
            font-weight: bold;
        }
    }
    .photos{
        margin-bottom: 15px;
        #myCarousel .list-inline {
            white-space:nowrap;
            overflow-x:auto;
        }
        
        #myCarousel .carousel-indicators {
            position: static;
            left: initial;
            width: initial;
            margin-left: initial;
        }
        
        #myCarousel .carousel-indicators > li {
            width: initial;
            height: initial;
            text-indent: initial;
            overflow: hidden;
        }
        
        #myCarousel .carousel-indicators > li.active img {
            opacity: 0.7;
        }
        .slider-controler{
            background: rgba(0, 0, 0, 0.25);
            position: absolute;
            bottom: 0px;
            font-size: 36px;
            a{
                color: #ffffff;
                padding: 5px;
            }
        }
    }

    ul{
        margin: 0;
        padding: 0;
    }
    li{
        list-style: none;
        float: left;
        margin-right: 15px;
        padding: 0px;
        font-size: 13px;
        width: 23.7%;
        background: #f6f6f6;
        margin: 5px;
        .fa{
            background: #e53935;
            width: 25px;
            text-align: center;
            padding: 6px;
            color: #ffffff;
            margin-right: 5px;
        }
    }
}
.card{
    border-radius: 0px !important;
    img{
        border-radius: 0px;
    }
    .btn{
        border-radius: 0px;
    }
}

.btn{
    border-radius: 0px !important;
}
.form-control {
    width: 100%;
    border-radius: 0px !important;
}

#calendar {
    max-width: 900px;
    margin: 0 auto;
}
.nearby{
    background: #f6f6f6;
    box-shadow: .5px .5px 1px #dddddd;
    padding: 15px;
    margin-top: 15px;
    ul{
        list-style: none;
        margin: 0px;
        padding: 0px;
    }
    li{
        padding: 0;
        margin: 0;
        float: none;
        width: 100%;
    }
    a{
        display: block;
        padding: 5px;
        text-decoration: none;
        margin: 5px 0;
        color: #333;
        font-size: 14px;
        &:hover{
            text-decoration: none;
            color: #000000;
            font-weight: bold;
        }
        .fa{
            background: none;
            color: #333333;
            padding: 2px;
            margin: 0;
        }
    }
}
.contact-us{
    margin: 25px 0;
}
//login
.sign-in{
    width: 350px;
    padding: 20px;
    background: #eeeeee;
    color: #ffffff;
    box-shadow: 1px 1px 1px #cccccc;
    margin: 50px;
    background: rgba(255,110,110,1);
    background: -moz-linear-gradient(top, rgba(255,110,110,1) 0%, rgba(229,57,53,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,110,110,1)), color-stop(100%, rgba(229,57,53,1)));
    background: -webkit-linear-gradient(top, rgba(255,110,110,1) 0%, rgba(229,57,53,1) 100%);
    background: -o-linear-gradient(top, rgba(255,110,110,1) 0%, rgba(229,57,53,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,110,110,1) 0%, rgba(229,57,53,1) 100%);
    background: linear-gradient(to bottom, rgba(255,110,110,1) 0%, rgba(229,57,53,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff6e6e', endColorstr='#e53935', GradientType=0 );
}
.log-up{
    padding: 20px;
    margin: 50px 0;
}
.venue-panel{
    background: #e53935;
    padding: 50px 0;
    .user-sec{
        text-align: center;
        color: #dddddd;
        h3{
            font-size: 22px;
            font-weight: bold;
        }
        h4{
            font-size: 20px;
        }
        .avater{
            img{
                border-radius: 4px;
                border: 1px solid #ff4c47;
            }
        }
        ul{
            margin: 0px;
            padding: 0px;
            border: #ff4c47 1px solid;
        }
        li{
            margin: 0px;
            padding: 0;
            list-style: none;
            border-bottom: 1px solid #ff4c47;
            &:last-child{
                border-bottom: 0px;
            }
            a{
                padding: 6px 10px;
                transition: all ease .3s;
                &:hover{
                    background: #ff4c47;
                    transition: all ease .3s;
                    padding: 6px 20px;
                    
                }
            }
        }
        a{
            display: block;
            text-decoration: none;
            color: #dddddd;
            text-transform: uppercase;
        }
    }
    .user-body-sec{
        background: #ffffff;
        padding: 15px;
        min-height: -webkit-fill-available;
    }
    .user-menu{
        text-align: left;
    }
}


.venue-photos{
    img{
        width: 265px;
        float: left;
        margin: 5px;
    }
}
.seat{
    img{
        width: 100%;
    }
}
.log-us{
    margin: 25px 0;
}
// subpage header
.subpage-header{
    overflow: hidden;
    color: #ffffff;
} 
.sub-page{
    margin: 25px 0;
}
.about-us{
    ul{
        margin: 0;
        padding: 0;
    }
    li{
        list-style: none;
    }
}
.divi{
    height: 1px;
    width: 300px;
    background: #e53935;
    display: inherit;
    margin: 0 auto;
    margin-bottom: 25px;
}
// main body
.main-body{
    .discover{
        padding: 70px 0;
        text-align: center;
        h2{
            font-weight: bold;
            padding-top: 20px;
            padding-bottom: 5px;
        }
        img{
            width: 120px;
            height: 120px;
            border: 1px solid #e53935;
            border-radius: 100%;
        }
        h3{
            font-weight: bold;
            padding: 10px 0;
            font-size: 24px;
        }
        p{}
    }
}
.options{
    .opt{
        text-align: center;
        padding: 70px 0; 
        background: url('../images/opt.jpg') no-repeat center fixed;
        background-size: cover;
        h2{
            font-weight: bold;
            padding-top: 20px;
            padding-bottom: 5px;
            color: #ffffff;
        }
        img{
            width: 100px;
            height: 100px;
            border: 1px solid #e53935;
            border-radius: 100%;
            color: #ffffff;
        }
        h3{
            font-weight: bold;
            padding: 10px 0;
            font-size: 24px;
            color: #ffffff;
        }
        p{
           color: #ffffff
        }
    }
}
.p-venue{
    padding: 70px 0;
    h2{
        text-align: center;
        font-weight: bold;
    }
    .venue{
        background: #f0f0f0;
        box-shadow: 0px 2px 3px #cccccc;
        img{
            width: 100%;
        }
        .btn{
            border-radius: 0;
            color: #ffffff;
        }
        .v-content{
            padding: 10px;
        }

    }
}

.brand-slider{
    background: #f0f0f0;
    padding: 15px 0;
    #carouselExampleControls{
        width: 100%;
        .carousel-item{
            padding: 15px;
            img{
                width: 100%;
            }
        }
    }
}
.login-form{
    padding: 15px;
    background: #cdcdcd;
    margin: 25px;
    border-radius: 15px;
}
footer{
    background: #333333;
    .footer-opt{
        padding: 45px 0;
        h3{
            padding: 15px 0;
            font-size: 20px;
            font-weight: 900;
            color: #dddddd;
        }
        ul{
            margin: 0;
            padding: 0;
        }
        li{
            list-style: none;
        }
        p{
            color: #cccccc;
            font-size: 14px;
        }
        a{
            color: #cccccc;
            text-decoration: none;
            font-size: 13px;
            &:hover{
                color: #f0f0f0;
            }
        }
    }
    .copyright{
        background: #222222;
        p{
            margin: 0;
            padding: 15px 0;
            font-size: 12px;
            text-transform: uppercase;
            color: #f0f0f0;
            a{
                color: #ffffff
            }
        }
    }
}
.hall{
    .photos{
        display: block;
        clear: both;
        .clear-fix{
            clear: both;
        }
        margin-bottom: 15px;
        .item{
            img{
                width: 180px;
                float: left;
                padding: 5px;
                padding-left: 0px;
            }
        }
    }
    .card{
        clear: both;
    }
}
.grid{
    label{
        text-align: right;
        font-weight: bold;
        color: #666666;
    }
    .grid-item{
        margin-bottom: 15px;
        a{
            display: block;
            background: #e53935;
            padding: 15px;
            color: #fff;
            text-align: center;
            text-transform: uppercase;
            text-decoration: none;
            box-shadow: 3px 3px 0px #ccc;
            transition: all ease 0.5s;
            &:hover{
                background: #d00500;
                transition: all ease 0.5s;
                box-shadow: 3px 3px 0px #999;
                .fa{
                    text-shadow: 1px 1px 1px #333333;
                }
            }
            &:focus{
                transition: all ease 0.5s;
                box-shadow: 0px 0px 0px #ccc;
                background: #e53835;
            }
            .fa{
                font-size: 40px;
                padding: 5px;
            }
            h3{
                font-size: 18px;
            }
            .notice{
                position: absolute;
                padding: 5px 7px;
                top: -2px;
                right: 20px;
                background: #fff;
                color: #e53935;
                font-weight: bold;
                box-shadow: 2px 2px 0px #ccc;
            }
        }
    }
}

// book manager
.booking-manage{
    h4{
        font-size: 16px;
        padding: 6px 10px;
        border: 1px solid #ddd;
        color: #999999;
    }
}
.manage-nav{
    ul{
        margin: 0px;
        padding: 0px;
        li{
            margin: 0px;
            padding: 0px;
            list-style: none;
            a{
                display: block;
                padding: 5px 10px;
                color: #333;
                background: #eeeeee;
                margin-bottom: 5px;
                text-decoration: none;
                &:hover{
                    background: #dddddd;
                    color: #000;
                }
            }
        }
    }
}

// Vendors panel

.vendor-sec{
    
}