@import url('https://fonts.googleapis.com/css?family=Roboto|Headland+One|Noto+Serif');

*{
    margin: 0;
    padding: 0;
}

body{
    // font-family: 'Abel', sans-serif !important;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    &::-webkit-scrollbar {
        width: 4px;
    }
     
    &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 2px rgba(0,0,0,0.5);
    }
     
    &::-webkit-scrollbar-thumb {
      background-color: #f90000;
      outline: 1px solid #920000;
    }
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Noto Serif', serif !important;
}

// mixin

$mobile-width: 767px;
$tablet-width: 768px;
$desktop-width: 1024px;

@mixin mobile {
    @media (max-width: #{$mobile-width}) {
      @content;
    }
  }

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

.nav-item {
    @include mobile {
        width: 50%;
    }
}

.top-sec{
    padding: 5px 0;
    position: absolute;
    background: #d50000;
    left: 0;
    right: 0;
    z-index: 999;
    @include mobile {
        position: relative;
    }
}
.logo{
    a{
        text-decoration: none;
        transition: all 1s ease;
        &:hover{
            text-decoration: none;
        }
    }
    img{
        width: 165px;
        float: left;
        margin-right: 15px;
    }
    h1{
        padding: 10px 0;
        margin: 0;
        font-size: 35px;
        font-weight: 900;
        color: #ffffff;
        text-transform: uppercase;
        &:hover{
        }
        @include mobile {
            text-align: center !important;
            padding-bottom: 10px !important;
            margin: 0px;
        }
    }

}

.res-bar{
    display: none;
    @include mobile {
        display: inline-block;
        float: right;
        cursor: pointer;
        color: #fff;
        font-size: 30px;
        padding: 5px 10px;
    }
}

.top-nav{
    float: right;
    @include mobile {
        display: none;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    ul{
        margin: 0;
        padding: 0;
        @include mobile {
            text-align: center;
        }
    }
    li{
        list-style: none;
        padding: 0;
        margin: 0;
        float: left;
        @include mobile {
            text-align: center !important;
            float: none !important;
            display: inline;
        }
    }
    .dropdown{ 
        ul{
        display: none;
        li{
            list-style: none;
            display: block;
            width: 150px;
            @include mobile {
                width: 100%;
            }
            a{
                display: block;
                padding: 10px;
                background: #D50000;
                border-bottom: 1px solid #d00500;
                text-align: left;
                &:hover{
                    background: #fff;
                    color: #d00500;
                }
                @include mobile {
                    width: 100%;
                    background: #862624;
                    text-align: center;
                }
              }
            &:last-child{
                a{
                    border-bottom: 0px;
                }
            }
          }
      }
      &:hover ul{
        display: block;
        position: absolute;
        left: 0;
        z-index: 99;
        @include mobile {
            position: relative;
            text-align: center;
        }
        }
    }
    a{
        text-decoration: none;
        display: inline-block;
        padding: 20px 10px;
        text-align: center;
        color: #ffffff;
        font-weight: 600;
        font-size:12px; 
        text-transform: uppercase;
        &:hover{
            text-decoration: none;
            color: #eee;
        }
        @include mobile{
            padding: 10px;
            width: 100%;
            background: #B71C1C;
            border-bottom: 1px solid #D50000;
        }
    }
}
header{
    .sub-header{
        background: url('../images/banner.jpg') no-repeat center;
        background-size: cover;
        padding: 100px 0px 30px 0px;
        h2{
            color: #ffffff;
            text-shadow: 1px 1px 2px #000000;
            text-transform: uppercase;
            font-weight: 900;
        }
    }
}

img.card-img-top {
    margin: 0 auto;
    padding: 15px;
}
.category-in-home{
    margin-bottom: 15px;
    &:after {
        content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
    }
    ul{
        margin: 0;
        padding: 0;
        li{
            padding: 0;
            margin: 0;
            list-style: none;
            float: left;
            width: calc(100% / 8);
            border-top: 1px solid #eee;
            border-left: 1px solid #eee;
            border-bottom: 1px solid #eee;
            &:last-child{
                border-right: 1px solid #eee;
            }
            @include mobile {
                width: 50%;
            }
            a{
                display: block;
                padding: 30px 15px;
                text-align: center;
                color: #000;
                transition: all ease .5s;
                @include mobile {
                    padding: 15px;
                }
                &:hover{
                    text-decoration: none;
                    text-shadow: 1px 1px 1px #333333;
                    transition: all ease 1s;

                    i{
                        color: #666666;
                    }
                    p{
                        color: #f90000;
                    }
                }
                i{
                    font-size: 40px;
                    color: #f90000;
                }
                p{
                    margin: 0;
                    padding: 5px 0;
                }
            }
        }
    }
}
.why-us{
    ul{
        margin: 0;
        padding: 0;
        li{
            padding: 0;
            list-style: none;
            float: left;
            width: calc(100% / 4);
            @include mobile{
                width: 100%;
            }
            &:first-child{
                a{
                    background: #ef5350;
                }
            }
            &:nth-child(2){
                a{
                    background: #d4e157;
                }
            }
            &:nth-child(3){
                a{
                    background: #ffca28;
                }
            }
            &:nth-child(4){
                a{
                    background: #ff7043;
                }
            }
            &:nth-child(5){
                a{
                    background: #8d6e63;
                }
            }
            &:nth-child(6){
                a{
                    background: #78909c;
                }
            }
            &:nth-child(7){
                a{
                    background: #26a69a;
                }
            }
            &:last-child{
                a{
                    background: #42a5f5;
                }
            }
            a{
                margin: 10px;
                display: block;
                padding: 15px 30px;
                height: 150px;
                border-radius: 20px 0px;
                box-shadow: 1px 1px 2px #ccc;
                transition: all ease 1s;
                &:hover{
                    transition: all ease 1s;
                    border-radius:0 20px;
                    text-decoration: none;
                    box-shadow: 3px 3px 6px #999;
                    background: #f90000 !important;
                    p{
                        color: #fff;
                    }
                }
                i{
                    font-size: 48px;
                    color: #fff;
                }
                h4{
                    font-size: 20px;
                    color: #fff;
                }
                p{
                    color: #000;
                    font-size: 13px;
                }
            }
        }
    }
}
.is-sticky{
    .top-sec{
        background: rgba(249, 0, 0, 0.75);
        z-index: 9999 !important;
    }
}
// Venue hall list details start
.venue-sub-hall{
    .hall-list-show {
        background: #fff;
        padding: 10px;
        margin-top: 2px;
        .btn {
            margin-top: 10px;
        }
        h3 {
            font-weight: 100 !important;
        }
    }
}
.venue-logo{
    img{
        width: 100%;
    }
}
.venue-name{
    padding: 10px 0;
    margin: 0;
}
.venue-profile-details-page{
    .venue-logo{
    }
    .venue-left-panel{
        .venue-left-contact{
            background: #d50000;
            color: #fff;
            padding: 15px;
            max-height: 52px !important;
            text-align: center;
            h5{
                margin: 0;
                padding: 0;
            }
        }
        .venue-left-opt{
            background: #f6f6f6;
            padding: 15px;
            ul{
                li{
                    list-style: none;
                }
            }
            i.fa {
                padding: 6px;
                width: 32px;
                background: #d50000;
                text-align: center;
                color: #fff;
            }
            h3.opt-title {
                text-transform: uppercase;
                font-size: 18px;
                padding: 7px 10px;
                background: #d50000;
                color: #fff;
            }
            .fecilitys{
                li {
                    margin: 3px 1px 2px 0px;
                    background: rgba(213,0,0,.25);
                    width: 49%;
                    display: inline-block;
                    &:hover{
                        background: #D50000;
                        color: #fff;
                    }
                } 
            }
        }
    }
    .venue-right-contact{
        background: #d50000;
        color: #fff;
        padding: 15px;
        max-height: 52px !important;
        text-align: center;
        h5{
            margin: 0;
            padding: 0;
        }
    }
    .venue-right-con-sec {
        padding: 15px;
        background: #fbfbfb;
        box-shadow: -1px 1px 1px #eee;
        .rating-sec{
        }
    }
    .new-title-style{
        font-size: 20px;
        padding: 8px;
        background: #f6f6f6;
        box-shadow: -1px 1px 1px #eee;
    }
    .venue-name{
    }
    div#myTabContent {
        padding: 15px 0;
    }
    ul#myTab {
        background: rgba(183, 28, 28, 0.75);
    }
    a.nav-link {
        border-radius: 0px;
        color: #fff !important;
        border: 0px;
        padding: 14px 15px;
        text-transform: uppercase;
        font-size: 16px;
    }
    a.nav-link.active {
        padding: 14px 15px;
        border-radius: 0px;
        background:  #d50000 !important;
        color: #fff !important;
        border: 0px;
    }
    a.nav-link:hover {
        background:  rgba(183, 28, 28, 0.5) !important;
    }
    .tab-body-opt{
        position: relative;
        top: -76px;
    }
    .nav-tabs{
        border-bottom: 1px solid #d50000 !important;
    }
}

.v-facilies{
    li{
        list-style: none;
        float: left;
        padding-right: 15px;
        font-size: 14px;
        i.fa{
            color: #d50000 !important;
        }
    }
}

.nav-tabs .nav-item {
    margin-bottom: 0px;
}
// Venue hall list details end

span.or-sec p {
    border: 1px solid;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    text-align: center;
    margin-left: 50px;
}
.or-sec {
    margin: 125px 0;
    display: block;
}
.login-page{
    padding: 150px 0; 
}
.blog-list{
    background: #f6f6f6;
    padding: 10px;
    margin-bottom: 15px;
    img{
        width: 100%;
    }
    h3, p{
        margin: 0px;
        padding: 0px;
    }
}
.blog-right{
    background: #f6f6f6;
    padding: 10px;
    margin-bottom: 15px;
    img{
        width: 100%;
    }
    .recent-blog{
        border-bottom: 1px solid #dfdfdf;
        margin-bottom: 10px;
        &:last-child{
            border-bottom: 0px solid #dfdfdf;
            margin-bottom: 0px;
        }
        img{
            float: left;
            width: 70px;
            margin-right: 10px;
        }
        h5{
            margin: 0px;
            padding: 0px;
        }
        a{
            color: #333333;
        }
    }
}
.blog-details{
    img{
        width: 100%;
    }
}
.slider{
    .carousel-caption {
        h2 {
            background: rgba(213, 0, 0, .3);
            padding: 5px 15px;
            display: inline-block;
            font-size: 42px;
            text-transform: uppercase;
            font-weight: 100;
        }
        p {
            // background: rgba(0, 0, 0, 0.4);
            padding: 5px 15px;
            display: block;
            font-size: 22px;
            text-transform: uppercase;
            font-weight: 100;
        }
    }
}
.page-404{
    padding: 75px 0;
    img{
        width: 100%;
    }
}

.gallery-opt {
    padding: 0px;
    margin: 0;
    img{
        margin-bottom: 15px;
    }
}

#myTabContent {
    @include mobile {
        border: 1px solid #ff6e6e;
        padding: 15px;
        border-top: 0;
    }
}
.tab-search{
    position: absolute;
    top: -40px;
    @include mobile {
        position: relative;
        top: 0;
    }
    .nav-tabs {
        border-bottom: 0px solid #ddd;
    }
    a.nav-link.active {
        background: #D50000 !important;
        border: 0px !important;
        color: #fff;
        @include mobile {
            border: 1px solid #ff6e6e!important;
            border-bottom: 0px !important;
        }
    }
    a.nav-link {
        background: rgba(229, 56, 53, 0.5) !important;
        border: 0px !important;
        border-radius: 0px;
        width: 100px;
        text-align: center;
        color: #fff;
        text-transform: uppercase;
        @include mobile {
            background: #ff6e6e!important;
            width: 100%;
            border: 1px solid #ff6e6e!important;
            color: #fff;
        }
    }
}

.vendors-pro-d{
    h4{
        color: #fff;
        font-size: 18px;
        text-shadow: 1px 1px 1px #000000;

    }
    h5{
        color: #fff;
        font-size: 16px;
        text-shadow: 1px 1px 1px #000000;
    }
}
.clear-fix{
    clear: both;
}
.contact-sec {
    background: #d50000;
    padding: 10px 15px;
    font-size: 20px;
    color: #ffffff;
    font-weight: 700;
    table{
        width: 100%;
    }
}
.rating-sec{
    i.fa{
        color: #d50000;
    }
    .review {
        margin: 15px 0;
        background: #f6f6f6;
        padding: 10px;
        .replay-count{
            float: right;
        }
    }
    i{
        float: right;
    }
    img{
    width: 100%;
    border-radius: 50%;
    border: 1px solid #f6f6f6;
    }
    p{
        font-size: 14px;
        font-weight: 100;
        margin: 0px;
        padding-bottom: 4px;
    }
    .name{
        padding-right: 15px;
        padding-bottom: 15px;
        padding: 0;
        font-weight: 400 !important;
    }
    .replay{
        .row {
            margin-bottom: 15px;
        }
    } 
}
.vendors-profile-details-page{
    background: #f6f6f6;
    .vendors{
        margin-top: 30px;
        margin-bottom: 30px;
        h3 {
            background: #e9ecef;
            font-size: 20px;
            text-transform: uppercase;
            padding: 7px 10px;
            border-left: 4px solid #d50000;
            border-bottom: 1px solid #d50000;
            box-shadow: -5px 5px 5px #F4F4F4;
            margin: 0;
        }
        .vendors-body-contant{
            background: #fff;
            padding: 15px;
            .fecilitys{
                ul{
                    li{
                        list-style: none;
                        width: 190px;
                        float: left;
                        background: #f6f6f6;
                        padding: 5px;
                        margin-right: 10px;
                        margin-bottom: 10px;
                    }
                }
            }
        }
        .gallery-opt{
            li{
                width: 180px;
                margin: 5px;
            }
        }
        .package-slider{
            img{
                width: 100%;
            }
        }
    }
    .nav-menu{
        background: #d50000;
        height: 41px;
        ul{
            margin: 0px;
            padding: 0px;
            li{
                list-style: none;
                float: left;
                a{
                    display: block;
                    padding: 10px 15px;
                    color: #fff;
                    text-transform: uppercase;
                    font-size: 14px;
                    background: #d50000;
                    text-decoration: none;
                    &:hover{
                        background: #862624;
                    }
                }
            }
        }
    }
    .vendors-rigth-sec {
        margin: 15px 0;
        background: #fff;
        padding: 15px;
        box-shadow: -5px 5px 5px #F4F4F4;
    }
}
.search-sec{
    position: relative;
    text-align: center;
    top: 50%;
    @include mobile {
        top: 220px;
    }
    h2{
        color: #ffffff;
        font-size: 46px;
    }
    p{
         color: #ffffff
    }
    a.search-b{
        text-decoration: none;
    }
    .search-i{
        border: 1px solid #D50000;
        border-radius: 0px;
        background: rgba(255, 255, 255, 0.25);
        &:focus{
            border: 1px solid #D50000;
        }
    }
    .search-b{
        background: #D50000;
        color: #ffffff;
        font-size: 20px;
        font-weight: 100;
        border-radius: 0;
        padding: 10px 30px;
        span{
            @include mobile {
                display: none;
            }
        }
       
    }
}
.v-types {
    font-size: 18px;
    margin: 0;
    padding: 0;
}
.v-exp {
    font-size: 16px;
    margin: 0;
}
.v-address {
    font-size: 14px;
    padding-bottom: 0 !important;
}

.v-user{
    background: #d50000;
    padding: 30px 0;
    color: #f0f0f0;
    position: relative;
    h3{
        font-weight: bold;
    }
    .btn{
        float: right;
        margin-top: 15px;
        border-radius: 0;
        color: #ffffff;
        font-weight: bold;
        text-shadow: 1px 1px 0px #999999;
    }
    .form-control{
        height: 42px !important;
    }
    .home-continue {
        margin-top: 32px !important;
        height: 41px !important;
    }
}
.top-sec-sub{
    background: #D50000;
}
.filters{
    background: #f6f6f6;
    box-shadow: .5px .5px 1px #dddddd;
    padding: 15px;
    margin-bottom: 35px;
    h2{
        font-size: 26px;
        text-transform: uppercase;
        font-weight: bold
    }
    h3{
        font-size: 20px;
        text-transform: uppercase;
    }
    ul{
        margin: 0px;
        padding: 0px;
        li{
            list-style: none;
            padding: 0px;
            margin: 0px;
            margin-bottom: 5px;
        }
        a{
            text-decoration: none;
            color: #222222;
            display: block;
            padding: 5px 15px;
            background: #fff;
            &:hover{
                background: #dddddd;
            }
        }
    }
    
    .form-control {
        width: 100%;
        border-radius: 0px;
    }
    .filter{
        margin-bottom: 15px;
    }

    .member-filter{
        margin-bottom: 15px;
    }
    input#myRange {
        width: 100%;
    }
  input[type="checkbox"] {
    display: none;
    
    + label {
      display: inline;
      position: relative;

      &:before {
        display: inline-block;
        width: 21px;
        height: 21px;
        content: ' ';
        border: 2px solid #e3ddd8;
        vertical-align: middle;
        margin-right: 15px;
        cursor: pointer;
        z-index: 10;
      }
    }
    
    &:checked + label {
      &:before {
        border: 1px solid #333333;
      }
      
      &:after {
        width: 7px;
        height: 13px;
        border: 2px solid #333333;
        border-left: none;
        border-top: none;
        content: ' ';
        position: absolute;
        left: 7px;
        bottom: 1px;
        transform: rotatez(45deg);
        cursor: pointer;
        z-index: 20;
      }
    }
  
}
    
}
.search-again{
    background: #f6f6f6;
    box-shadow: .5px .5px 1px #dddddd;
    margin: 25px 0;
    padding: 15px 0;
    h3{
        padding: 0 15px;
        font-size: 26px;
    }
    .form-inline {
        
        .btn{
            border-radius: 0px;
            text-transform: uppercase;
            font-weight: bold;
        }
    }
    .form-control{
        width: 100% !important;
    }
}
.filter-sec {
    padding: 15px 0;
}
.venue-list{
    .card-highlight {
        position: absolute;
        z-index: 1;
        background: rgba(255, 0, 0, 0.5);
        height: 40px;
        width: 75px;
        border-radius: 0px 0px 35px 0px;
        span{
            padding: 8px 15px;
            color: #fff;
            font-size: 15px;
            font-weight: bold;
            display: block;
        }
        .fa-star{
            color: #f0f0f0 !important;
        }
    }
    .footer-sec{
        padding: 15px;
        padding-top: 0px;
        .halls{
            font-size: 18px;
            padding: 2px 0;
            font-weight: bold;
            color: #333333;
        }
    }
    &:hover{
        .venues{
            background: #ccc !important;
            .card-img img{
                -webkit-transform: scale(1.3);
                transform: scale(1.3);
                opacity: .5;
            }
            .card-body{
                a{

                    color: #111;
                    text-decoration: none;
                }
            }
        }
    }
    .venues{
        background: #f6f6f6;
        box-shadow: .5px .5px 1px #dddddd;
        margin-bottom: 30px;
        .fa{
            color: #777777;
        }
        img{
            width: 100%;
        }
        .card-img{
            background: #ff5f5f;
            position: relative;
            overflow: hidden;
            img{
                -webkit-transform: scale(1);
                transform: scale(1);
                -webkit-transition: .3s ease-in-out;
                transition: .3s ease-in-out;
            }
        }
        a.venue-name {
            h3{
                font-size: 15px;
                margin: 0px;
                padding: 0px;
            }
            padding: 10px 15px;
            display: block;
            position: absolute;
            bottom: 0;
            background: rgba(255, 0, 0, 0.5);
            right: 0;
            left: 0;
            color: #fff;
            .fa{
                color: #fff;
            }
        }
        .card-body{
            a{
                color: #333333;
                text-decoration: none;
            }
            .rating{
                font-weight: bold;
                color: #666666;
                .fa{
                    color: red;
                }
            }
        }
        h3{
            margin: 0;
            padding: 0;
            padding-bottom: 5px;
            font-weight: bold;
            font-size: 20px;
        }
        p{
            margin: 0;
            padding: 4px 0;
            font-size: 13px;
        }
        h4{
            font-size: 12px;
            padding: 3px 0;
            margin: 0;
            font-weight: bold;
        }
        .btn{
            border-radius: 0;
        }
        .fecilitys{
            border-top: 1px solid #eeeeee;
            padding-top: 5px;
            margin-top: 10px;
            ul{
                margin: 0;
                padding: 0;
            }
            li{
                list-style: none;
                float: left;
                margin-right: 15px;
                padding: 0px;
                font-size: 13px;
                
            }
        }
    }
}
.venue-details{
    margin: 15px 0;
    .nav{
        background: #f6f6f6;
        border: 1px solid #dfdfdf;
        .nav-link{
            padding: 10px 10px;
            border-right: 1px solid #eeeeee;
            color: #333333;
            &:hover{
                color: #000000;
                font-weight: bold;
            }
        }
        .active{
            color: #000000;
            font-weight: bold;
        }
    }
    img{
        width: 100%;
    }
    h2{
        margin: 0px;
        padding: 5px 0;
        font-weight: bold;
    }
    h5{
        margin: 0px;
        padding: 3px 0;
        font-size: 16px;
        font-weight: bold;
    }
    p{
        margin: 0px;
        padding: 5px;
    }
    .breadcrumb{
        border-radius: 0px;
    }
    .search-again-details{
        background: #f6f6f6;
        box-shadow: .5px .5px 1px #dddddd;
        padding: 15px;
        margin-bottom: 15px;
        .form-control{
            border-radius: 0px;
        }
    }
    .contact-details{
        background: #f6f6f6;
        box-shadow: .5px .5px 1px #dddddd;
        padding: 15px;
        margin-bottom: 15px;
        
    }
    .card{
        margin-bottom: 15px;
        .card-header{
            font-size: 18px;
            font-weight: bold;
        }
    }
    .photos{
        margin-bottom: 15px;
        #myCarousel .list-inline {
            white-space:nowrap;
            overflow-x:auto;
        }
        
        #myCarousel .carousel-indicators {
            position: static;
            left: initial;
            width: initial;
            margin-left: initial;
        }
        
        #myCarousel .carousel-indicators > li {
            width: initial;
            height: initial;
            text-indent: initial;
            overflow: hidden;
        }
        
        #myCarousel .carousel-indicators > li.active img {
            opacity: 0.7;
        }
        .slider-controler{
            background: rgba(0, 0, 0, 0.25);
            position: absolute;
            bottom: 0px;
            font-size: 36px;
            a{
                color: #ffffff;
                padding: 5px;
            }
        }
    }

    ul{
        margin: 0;
        padding: 0;
    }
    li{
        list-style: none;
        float: left;
        margin-right: 15px;
        padding: 0px;
        font-size: 13px;
        width: 23.7%;
        background: #f6f6f6;
        margin: 5px;
        .fa{
            background: #D50000;
            width: 25px;
            text-align: center;
            padding: 6px;
            color: #ffffff;
            margin-right: 5px;
        }
    }
}
.card{
    border-radius: 0px !important;
    img{
        border-radius: 0px;
    }
    .btn{
        border-radius: 0px;
    }
}

.btn{
    border-radius: 0px !important;
}
.form-control {
    width: 100%;
    border-radius: 0px !important;
}

#calendar {
    max-width: 900px;
    margin: 0 auto;
}
.nearby{
    background: #f6f6f6;
    box-shadow: .5px .5px 1px #dddddd;
    padding: 15px;
    margin-top: 15px;
    ul{
        list-style: none;
        margin: 0px;
        padding: 0px;
    }
    li{
        padding: 0;
        margin: 0;
        float: none;
        width: 100%;
    }
    a{
        display: block;
        padding: 5px;
        text-decoration: none;
        margin: 5px 0;
        color: #333;
        font-size: 14px;
        &:hover{
            text-decoration: none;
            color: #000000;
            font-weight: bold;
        }
        .fa{
            background: none;
            color: #333333;
            padding: 2px;
            margin: 0;
        }
    }
}
.contact-us{
    margin: 25px 0;
}
//login
.sign-in{
    width: 350px;
    padding: 20px;
    background: #eeeeee;
    color: #ffffff;
    box-shadow: 1px 1px 1px #cccccc;
    margin: 50px;
    background: rgba(255,110,110,1);
    background: -moz-linear-gradient(top, rgba(255,110,110,1) 0%, rgba(229,57,53,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,110,110,1)), color-stop(100%, rgba(229,57,53,1)));
    background: -webkit-linear-gradient(top, rgba(255,110,110,1) 0%, rgba(229,57,53,1) 100%);
    background: -o-linear-gradient(top, rgba(255,110,110,1) 0%, rgba(229,57,53,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,110,110,1) 0%, rgba(229,57,53,1) 100%);
    background: linear-gradient(to bottom, rgba(255,110,110,1) 0%, rgba(229,57,53,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff6e6e', endColorstr='#D50000', GradientType=0 );
}
.log-up{
    padding: 20px;
    margin: 50px 0;
}
.venue-panel{
    background: #D50000;
    padding: 50px 0;
    .user-sec{
        text-align: center;
        color: #dddddd;
        h3{
            font-size: 22px;
            font-weight: bold;
        }
        h4{
            font-size: 20px;
        }
        .avater{
            img{
                border-radius: 4px;
                border: 1px solid #ff4c47;
            }
        }
        ul{
            margin: 0px;
            padding: 0px;
            border: #ff4c47 1px solid;
        }
        li{
            margin: 0px;
            padding: 0;
            list-style: none;
            border-bottom: 1px solid #ff4c47;
            &:last-child{
                border-bottom: 0px;
            }
            a{
                padding: 6px 10px;
                transition: all ease .3s;
                &:hover{
                    background: #ff4c47;
                    transition: all ease .3s;
                    padding: 6px 20px;
                    
                }
            }
        }
        a{
            display: block;
            text-decoration: none;
            color: #dddddd;
            text-transform: uppercase;
        }
    }
    .user-body-sec{
        background: #ffffff;
        padding: 15px;
        // min-height: -webkit-fill-available;
        min-height: calc(100vh - 325px);
    }
    .user-menu{
        text-align: left;
    }
}


.venue-photos{
    img{
        width: 265px;
        float: left;
        margin: 5px;
    }
}
.seat{
    img{
        width: 100%;
    }
}
.log-us{
    margin: 25px 0;
}
// subpage header
.subpage-header{
    overflow: hidden;
    color: #ffffff;
} 
.sub-page{
    margin: 25px 0;
}
.about-us{
    ul{
        margin: 0;
        padding: 0;
    }
    li{
        list-style: none;
    }
}
.divi{
    height: 1px;
    width: 300px;
    background: #D50000;
    display: inherit;
    margin: 0 auto;
    margin-bottom: 25px;
}
// main body
.main-body{
    .discover{
        padding: 70px 0;
        text-align: center;
        h2{
            font-weight: bold;
            padding-top: 20px;
            padding-bottom: 5px;
        }
        img{
            width: 120px;
            height: 120px;
            border: 1px solid #D50000;
            border-radius: 100%;
        }
        h3{
            font-weight: bold;
            padding: 10px 0;
            font-size: 24px;
        }
        p{}
    }
}
.options{
    .opt{
        text-align: center;
        padding: 70px 0; 
        background: url('../images/opt.jpg') no-repeat center fixed;
        background-size: cover;
        h2{
            font-weight: bold;
            padding-top: 20px;
            padding-bottom: 5px;
            color: #ffffff;
        }
        img{
            width: 100px;
            height: 100px;
            border: 1px solid #D50000;
            border-radius: 100%;
            color: #ffffff;
        }
        h3{
            font-weight: bold;
            padding: 10px 0;
            font-size: 24px;
            color: #ffffff;
        }
        p{
           color: #ffffff;
        }
    }
}
.p-venue{
    padding: 70px 0;
    h2{
        text-align: center;
        font-weight: bold;
    }
    .venue{
        background: #f0f0f0;
        box-shadow: 0px 2px 3px #cccccc;
        img{
            width: 100%;
        }
        .btn{
            border-radius: 0;
            color: #ffffff;
        }
        .v-content{
            padding: 10px;
        }

    }
}

.brand-slider{
    background: #f0f0f0;
    padding: 15px 0;
    @include mobile{
        padding: 30px 0;
    }
    #carouselExampleControls{
        width: 100%;
        .carousel-inner{
            overflow: inherit !important;
        }
        .carousel-item{
            padding: 15px;
            @include mobile{
                padding: 0;
            }
            img{
                padding:15px;
                background:#fff;
                border-radius:5px; 
                width: 100%;
                @include mobile{
                    padding: 0;
                    transform: scale(1.5);
                }
            }
        }
    }
}
.login-form{
    padding: 15px;
    background: #cdcdcd;
    margin: 25px;
    border-radius: 15px;
}
footer{
    background: #333333;
    .footer-opt{
        padding: 45px 0;
        h3{
            padding: 15px 0;
            font-size: 20px;
            font-weight: 900;
            color: #dddddd;
        }
        ul{
            margin: 0;
            padding: 0;
        }
        li{
            list-style: none;
        }
        p{
            color: #cccccc;
            font-size: 14px;
        }
        a{
            color: #cccccc;
            text-decoration: none;
            font-size: 13px;
            &:hover{
                color: #f0f0f0;
            }
        }
    }
    .copyright{
        background: #222222;
        p{
            margin: 0;
            padding: 15px 0;
            font-size: 12px;
            text-transform: uppercase;
            color: #f0f0f0;
            a{
                color: #ffffff
            }
        }
    }
}
.hall{
    .photos{
        display: block;
        clear: both;
        .clear-fix{
            clear: both;
        }
        margin-bottom: 15px;
        .item{
            img{
                width: 180px;
                float: left;
                padding: 5px;
                padding-left: 0px;
            }
        }
    }
    .card{
        clear: both;
    }
}
.grid{
    label{
        text-align: right;
        font-weight: bold;
        color: #666666;
    }
    .grid-item{
        margin-bottom: 15px;
        a{
            display: block;
            background: #D50000;
            padding: 15px;
            color: #fff;
            text-align: center;
            text-transform: uppercase;
            text-decoration: none;
            box-shadow: 3px 3px 0px #ccc;
            transition: all ease 0.5s;
            &:hover{
                background: #d00500;
                transition: all ease 0.5s;
                box-shadow: 3px 3px 0px #999;
                .fa{
                    text-shadow: 1px 1px 1px #333333;
                }
            }
            &:focus{
                transition: all ease 0.5s;
                box-shadow: 0px 0px 0px #ccc;
                background: #e53835;
            }
            .fa{
                font-size: 40px;
                padding: 5px;
            }
            h3{
                font-size: 18px;
            }
            .notice{
                position: absolute;
                padding: 5px 7px;
                top: -2px;
                right: 20px;
                background: #fff;
                color: #D50000;
                font-weight: bold;
                box-shadow: 2px 2px 0px #ccc;
            }
        }
    }
}

// book manager
.booking-manage{
    h4{
        font-size: 16px;
        padding: 6px 10px;
        border: 1px solid #ddd;
        color: #999999;
    }
}
.manage-nav{
    ul{
        margin: 0px;
        padding: 0px;
        li{
            margin: 0px;
            padding: 0px;
            list-style: none;
            a{
                display: block;
                padding: 5px 10px;
                color: #333;
                background: #eeeeee;
                margin-bottom: 5px;
                text-decoration: none;
                &:hover{
                    background: #dddddd;
                    color: #000;
                }
            }
        }
    }
}

.card-title{font-size:16px;min-height:38px}
.top-sec-sub{padding:5px 0;position:absolute;left:0;right:0;background:#D50000;z-index:999}
.contact-form{border:1px solid rgba(213,0,0,.5)}
.contact-form h3{background:rgba(213,0,0,.5);padding:15px;color:#fff;text-transform:uppercase;font-size:22px;margin:0}
.contact-form .contact-list,.contact-form form{padding:15px}
ul.contact-list li .fa{color:#d50000!important;font-size:22px;display:block}
ul.contact-list li{list-style:none;margin-bottom:15.6px}
ul.contact-list{margin:0}
.form-control{border:1px solid #ea7f7f!important}

// Vendors panel

// social icon
.social-icon{
    margin-top: 15px;
    ul{
        margin: 0;
        padding: 0;
        li{
            list-style: none;
            margin-right: 5px;
            padding: 0;
            float: left;
            a{
                display: block;
                font-size: 22px;
                padding: 5px;
                background: #000000;
                width: 45px;
                text-align: center;
                &:hover{
                    color: #fff;
                    background: #B71C1C;
                }
            }
        }
    }
}

// feature-venue

.feature-venue{
    background: url('../images/feature-venue.jpg') no-repeat center fixed;
    padding: 75px 0;
    background-size: cover;
    text-align: center;
    h2{
        color: #fff;
    }
    img{
        width: 100%;
        border-radius: 20px 0;
        box-shadow: 1px 1px 4px #111;
        @include mobile{
            margin-bottom: 15px;
        }
    }
    a{
        margin-top: 25px;
    }
}
.feature-venue-area{
    background: url('../images/dhakacity.jpg') no-repeat center fixed;
    padding: 75px 0;
    background-size: cover;
    text-align: center;
    h2{
        color: #fff;
    }
    .added-area{
        ul{
            margin: 0;
            padding: 0;
            li{
                margin: 0;
                padding: 0;
                list-style: none;
                float: left;
                width: 276px;
                a{
                    display: block;
                    margin: 5px;
                    border-left: 5px solid #f90000;
                    padding:10px;
                    text-align: left;
                    background: rgba(50, 0, 0, 0.75);
                    color: #ccc;
                    border-radius: 4px;
                    transition: all ease .5s;
                    &:hover{
                        background: #222222;
                    transition: all ease .5s;
                        text-decoration: none;
                        border-left: 10px solid #f90000;
                        padding-right: 0;
                    }
                    i{
                        margin-right: 5px
                    }
                }
            }
        }
    }
}
.feature-venue-area-1{
    background: #eee;
    padding: 100px 0;
}
.blog-in-home{
    padding: 100px 0;
    .blog-big{
        margin-bottom: 15px;
        a{
            text-decoration: none;
        }
        h2{
            font-size: 18px;
            color: #444;
            padding: 5px 0;
        }
        p{
            color: #333333;
            font-size: 14px;
        }
        img{
            border-radius: 5px;
            width: 100%;
        }
    }
    .blog-small{
        margin-bottom: 20px;
        &:after{
            content: ".";
            display: block;
            height: 0;
            clear: both;
            visibility: hidden;
        }
        a{
            text-decoration: none;
        }
        h2{
            font-size: 18px;
            color: #444444;
            margin: 0;
            padding: 0;
        }
        p{
            color: #333333;
            font-size: 14px;
        }
        img{
            float: left;
            width: 140px;
            margin-right: 20px;
            border-radius: 5px;
        }
    }
}